* {
    margin: auto;
    font-family: sans-serif;
}
body {
    height: 2000px;
    background-color: gray;
}
article {
    margin: 100px auto;
}
.section {
    padding: 50px 0;
}
/* Header */
header {
    width: 100%;
    height: 80px;
    display: flex;
    transition: all 0.2s ease;
    background-color: #888888;
}
.header {
    width: 950px;
}
.header ul {
    height: 100%;
    padding: 0px;
    display: flex;
}
.header-link {
    width: 25%;
    text-align: center;
    display: inline-block;
}
.header a {
    color: white;
    text-align: center;
    text-decoration: none;
    transition: 0.3s ease;
}
.header a:hover {
    color: #7FFF00;
    transition: 0.3s ease;
}
.header-small {
    z-index: 10;
    height: 40px;
    position: fixed;
    transition: all 0.2s ease;
}
/* Intro */
.intro {
    width: 100%;
    height: 910px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto 900px;
    background-image: url('img/alex.png');
}
.intro-h1, .section-h1 {
    color: white;
    padding: 25px 0px;
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;
    line-height: 80px;
    text-transform: uppercase;
}
.intro-h2, .section-h2 {
    color: whitesmoke;
    font-family: 'Aldrich';
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}
.intro-content-container {
    width: 950px;
    height: 510px;
    margin-top: 40px;
    position: relative;
}
.intro-content {
    float: left;
    width: 600px;
    height: 510px;
    display: none;
    border-radius: 20px;
    background-color: dimgray;
    box-shadow: 0px 0px 10px black;
}
.intro-content h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 0px;
    font-family: 'Sofia';
    text-transform: initial;
}
.intro-content p {
    color: whitesmoke;
    padding: 20px;
    font-size: 20px;
    word-spacing: 5px;
    line-height: 30px;
}
.intro-content a {
    width: 80%;
    color: white;
    display: block;
    padding: 10px;
    margin-top: 15px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #7FFF00;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.intro-content a:hover {
    background-color: #404040;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
/* Languages and skills */
.stats {
    width: 100%;
    position: relative;
    filter: grayscale(0%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url('img/codes.png');
}
.section-h1 {
    font-size: 40px;
}
.section-h2 {
    font-family: 'Quicksand';
}
.stats table {
    color: white;
    width: 950px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.stats table td {
    padding: 15px;
}
.lang-wrapper {
    max-width: 1200px;
}
.lang {
    display: flex;
    margin: 25px 0;
}
.lang-label {
    color: white;
    font-size: 1.5em;
    letter-spacing: 2px;
    margin: auto 50px auto 0;
}
.lang-img {
    display: flex;
    margin-left: 0;
}
.lang-img-div {
    width: 140px;
    height: 140px;
    display: flex;
    position: relative;
}
.lang-img-div img {
    display: none;
}
/* References */
.works {
    width: 100%;
    position: relative;
    background: linear-gradient(white, transparent 50%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('img/refs.png');
}
.works-wrapper {
    width: 375px;
    height: 75px;
    position: relative;
    display: inline-block;
    margin: 0 10px 20px 10px;
}
.works-img {
    display: flex;
}
.images {
    top: 50%;
    left: 50%;
    position: relative;
    display: inline-block;
    -ms-transform: translateX(-50%) translateY(0%);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}
.images img {
    width: 100%;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.description {
    z-index: 10;
    width: 100%;
    display: none;
    font-size: 20px;
    color: #777777;
    position: absolute;
    background-color: #777777;
}
.description-span {
    padding: 10px 10px 0 10px;
}
.description-link {
    text-align: center;
    padding: 20px 10px 10px 10px;
}
.description-link a {
    color: #7FFF00;
    text-decoration: none;
}
.description-link a:hover {
    transition: 0.3s;
    color: #00ff97;
}
/* Jobs */
.xp {
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('img/exp.png');
}
.timeline {
    width: 950px;
    padding: 20px;
    position: relative;
}
.timeline:after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    border-left: 8px solid #7FFF00;
    -ms-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}
.jobs {
    padding: 20px;
    opacity: 0;
}
.jobs h2 {
    color: #7FFF00;
    letter-spacing: 1px;
}
.jobs h1 {
    color: white;
    font-size: 35px;
    letter-spacing: 2px;
    font-family: 'Quicksand';
}
.jobs p {
    color: whitesmoke;
    line-height: 25px;
    padding-top: 15px;
    font-size: 20px;
}
.jobs a {
    transition: 0.3s;
    color: #7FFF00;
    text-decoration: none;
}
.jobs a:hover {
    transition: 0.3s;
    color: #00ff97;
}
.odd {
    text-align: left;
    margin-right: 50%;
}
.even {
    text-align: right;
    margin-left: 50%;
}
.history_links:after, .history_links:before {
    color: blue;
}
/* Footer */
footer {
    color: white;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #585858;
}
/* Responsive */
@media screen and (max-width: 1430px) {
    .intro {
        background-image: none;
    }
}
@media screen and (max-width: 1320px) {
    /* Languages and skills */
    .lang {
        text-align: center;
        flex-direction: column;
    }
    .lang-img-div {
        display: inline-flex;
    }
    .lang-label {
        width: 100%;
        margin: auto auto 50px 0;
    }
    .lang-img {
        margin: auto;
        display: block;
    }
}
@media screen and (max-width: 1070px) {
    .intro-content {
        float: none;
    }
    .timeline {
        width: 100%;
        padding: 20px 0px;
    }
}
@media screen and (max-width: 970px) {
    /* References */
    .works-wrapper {
        display: block;
        margin: 0 0 20px 0;
    }
    /* Other */
    header {
        width: 100%;
        height: 60px;
    }
    .intro-content-container {
        width: 100%;
    }
    .stats table {
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    /* Other */
    .header {
        left: 0px;
        margin-left: 0px;
    }
    .intro {
        height: 800px;
    }
    .intro-h1 {
        font-size: 40px;
    }
    .section-h1 {
        font-size: 30px;
    }
    .section-h2, .intro-h2 {
        font-size: 20px;
    }
    .intro-content {
        width: 90%;
        height: auto;
        padding: 20px 0px;
    }
    .intro-content h2 {
        padding: 0px;
    }
    .intro-content p {
        font-size: 18px;
        padding: 10px;
    }
    .jobs h1 {
        font-size: 30px;
    }
}
@media screen and (max-width: 560px) {
    /* Other */
    .intro-h1 {
        font-size: 40px;
    }
    .header-link a {
        font-size: 14px;
    }
    .stats table {
        padding: 0px;
    }
    .stats table td {
        padding: 15px 5px;
    }
    .timeline:after {
        content: none;
    }
    .jobs {
        padding: 40px 20px;
    }
    .even {
        margin-left: 0px;
    }
    .odd {
        margin-right: 0px;
    }
}
@media screen and (max-width: 450px) {
    /* References */
    .images {
        width: 100%;
    }
    .works-wrapper {
        width: auto;
        margin: 20px;
    }
    .works-img {
        flex-direction: column;
    }
    .description {
        position: relative;
    }
    /* Other */
    .header-link a {
        font-size: 12px;
    }
    .intro {
        height: 1000px;
    }
    .intro-h1 {
        font-size: 35px;
    }
    .section-h1 {
        font-size: 25px;
    }
    .section-h2, .intro-h2 {
        font-size: 15px;
    }
}